---
# Testing tasks

- name: Get service name
  ansible.builtin.shell: |
    kubectl get svc -n {{ tinyllama_deploy_kubernetes.namespace }} \
    -l ray.io/cluster={{ tinyllama_deploy_ray_cluster_name }},ray.io/serve=true \
    -o jsonpath='{.items[0].metadata.name}'
  register: tinyllama_deploy_service_name_output
  changed_when: false

- name: Set service name fact
  ansible.builtin.set_fact:
    tinyllama_deploy_service_name: "{{ tinyllama_deploy_service_name_output.stdout }}"

- name: Display service information
  ansible.builtin.debug:
    msg: "Service: {{ tinyllama_deploy_service_name }}"

- name: Test model endpoint (from within cluster)
  ansible.builtin.shell: |
    kubectl exec -n {{ tinyllama_deploy_kubernetes.namespace }} {{ tinyllama_deploy_head_pod_name }} -c ray-head -- \
    curl -X POST http://localhost:8000/ \
    -H "Content-Type: application/json" \
    -d '{
      "messages": [{"role": "user", "content": "{{ tinyllama_deploy_model.test_prompt }}"}],
      "max_tokens": {{ tinyllama_deploy_model.test_max_tokens }}
    }'
  register: tinyllama_deploy_model_test
  changed_when: false
  failed_when: false
  when: tinyllama_deploy_testing.test_endpoint | bool

- name: Display test result
  ansible.builtin.debug:
    msg: "{{ tinyllama_deploy_model_test.stdout | from_json }}"
  when:
    - tinyllama_deploy_testing.test_endpoint | bool
    - tinyllama_deploy_model_test.rc == 0
